@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: 246 249 252;
  --foreground: 10 37 64;
}

.dark {
  --background: 15 28 46;
  --foreground: 255 255 255;
}
